{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container"></div>
    <h1>Votre reservation</h1>
    <ul class="resulRes ">
        {% if reservation.id_van == 1 %}
        <li><img src="/assets/images/beach-two-first-photo.webp" alt=""></li>
        {% elseif reservation.id_van == 5 %}
            <li><img src="/assets/images/coast-two-first-photo.webp" alt=""></li>
        {% elseif reservation.id_van == 9 %}
            <li><img src="/assets/images/edition-two-first-photo.webp" alt=""></li>
        {% endif %}
        <li>Your departure date {{ reservation.start }}</li>
        <li>Your return date {{ reservation.return }}</li>
        <li>Your firstname {{ reservation.first_name }}</li>
        <li>Your lastname {{ reservation.last_name }}</li>
        <li>Your email{{ reservation.email }}</li>
    </ul>
    <a href="/items">Back</a>
{% endblock %}
